<h1>Task Log</h1>
<p><%= link_to "Add new task", new_todo_path, :class=>'btn btn-primary' %></p>

<h2>Current Tasks</h2>
<ul>
	<% if @todos.empty? %>
		<h3 style="color:#E0E0E0">No current tasks</h3>
	<% else %>
		<% @todos.each do |t| %>
				<li>
					<h4><%= t.name %></h4>
					<small><%= link_to "Done", complete_todo_path(t), :method => :put %></small>
					<small><%= link_to "Edit", edit_todo_path(t) %></small> 
					<small><%= link_to "Remove", todo_path(t), :method => :delete %></small>
				</li>
		<% end %>
	<% end %>
</ul>


<h2>Completed Tasks</h2>
<ul>
	<% if @completes.empty? %>
		<h3 style="color:#E0E0E0">No completed tasks</h3>
	<% else %>
		<% @completes.each do |t| %>
			<li>
				<h4><%= t.name %></h4>
				<small><%= link_to "Undo", undo_todo_path(t), :method => :put %></small>
				<small><%= link_to "Remove", todo_path(t), :method => :delete %></small>
			</li>
		<% end %> 
	<% end %>
</ul>

<!-- data: { confirm: "Remove?" }, -->

