<!DOCTYPE html>
<html lang="en">
  <head>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Check</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Place css styling inside <style></style> -->
    <style>
      body {
        padding-top: 75px;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
      .container {
        max-width:1000px;
      }

	    /* style for user sign in and sign forms. */
    	.border-form-div {
    	  max-width: 300px;
    	  padding: 19px 29px 29px;
    	  margin: 0 auto 20px;
    	  background-color: #fff;
    	  border: 1px solid #e5e5e5;
    	  -webkit-border-radius: 5px;
    	     -moz-border-radius: 5px;
    	          border-radius: 5px;
    	  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    	     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    	          box-shadow: 0 1px 2px rgba(0,0,0,.05);
    	}

    	.border-form-div .form-signin-heading,
    	.border-form-div .checkbox {
    	  margin-bottom: 10px;
    	}

    	.border-form-div input[type="text"],
    	.border-form-div input[type="email"],
    	.border-form-div input[type="password"] {
    	  font-size: 16px;
    	  height: auto;
    	  margin-bottom: 15px;
    	  padding: 7px 9px;
    	}	

      /* ability to lighten/darken logo png on mouseover */
      .outerLink 
      {
        background-color:transparent;  
        opacity:1.0;
        filter:alpha(opacity=100);
        width:50px;
        height:50px;
      }

      img.darkableImage 
      {
        opacity:0.7;
        filter:alpha(opacity=70);
      }

      /* Allow a sticky footer */
      html,
      body {
         margin:0;
         padding:0;
         height:100%;
      }
      #container {
         min-height:100%;
         position:relative;
      }
      #header {
         /*background:#ff0;*/
         padding:35px;
      }
      #body {
         padding:10px;
         padding-bottom:50px;   /* Height of the footer */
      }
      #footer {
         position:absolute;
         bottom:0;
         width:100%;
         height:50px;   /* Height of the footer */
         background: transparent;
      }

      #footer .copyright {
         padding-top: 15px;
         font-size: 14px;
         color: gray; 
         /*text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;*/
      }

    </style>
  </head>

  <div id="container">

   <div id="header">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
   </div>

   <div id="body">
      <body>
        <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div><!-- class="navbar-header" -->

            <div class="collapse navbar-collapse">


              <%= render 'layouts/navigation' %>

            </div><!--class="collapse navbar-collapse" -->
          </div><!-- class="container" -->
        </div><!-- class="navbar navbar-default navbar-fixed-top" -->
     
     
        <div class="container">
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              </div>
            <% end %>
          <% end %>
          <%= yield %>
        </div><!-- class="container" -->


     
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <script>
        //** removes alerts after 4 seconds */
        window.setTimeout(function() {
            $(".alert").fadeTo(4500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 2000);
        </script>
      </body>
    </div><!-- id="body" -->

    <div id="footer">
      <div class="copyright">
        <center><small>© Check</small></center>
      </div>
    </div>

  </div><!-- id="container" -->
</html>